@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fff;
  --text-default: #3a3a3a;
  --text-head: #171717;
  --text-desc-1: #8f8f8f;
  --text-desc-2: #6f6f6f;
  --border: #e8e8e8;
  --block-fill-1: #ededed;
  --block-fill-2: #fafafa;
}

html {
  background-color: var(--bg);
  color: var(--text-default);
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  -webkit-tap-highlight-color: transparent;
}

pre > code {
  display: grid;
}

/* Fenced Code block - hide horizontal scrollbar: webkit */
pre::-webkit-scrollbar {
  display: none;
}
/* Fenced Code block - hide horizontal scrollbar: mozila */
pre {
  scrollbar-width: none;
}

/* Fenced Code block - line style */
pre span[data-line] {
  @apply inline-block px-4 py-0.5 leading-snug;
}

/* ---- scrollbar ---- */
* {
  --scrollbar-size: 16px;
  --scrollbar-size-min: 44px;
  --scrollbar-color: var(--border-fill);
  scrollbar-color: var(--border-fill) transparent;
  /* firefox */
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-thumb {
  min-width: 44px;
  min-height: 44px;
  border: 5px solid transparent;
  border-radius: 16px;
  background-clip: padding-box;
  background-color: var(--border-fill);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-resizer {
  display: none;
}

/* drag */
::selection {
  background-color: var(--border-fill);
}
