@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #fff;
  --text-default: #3a3a3a;
  --text-head: #171717;
  --text-desc-1: #8f8f8f;
  --text-desc-2: #6f6f6f;
  --border: #e8e8e8;
  --border-fill: #ececec;
}

html {
  background-color: var(--bg);
  color: var(--text-default);
}

pre > code {
  display: grid;
}

/* Fenced Code block - hide horizontal scrollbar: webkit */
pre::-webkit-scrollbar {
  display: none;
}
/* Fenced Code block - hide horizontal scrollbar: mozila */
pre {
  scrollbar-width: none;
}

/* Fenced Code block - line style */
pre span[data-line] {
  @apply inline-block px-4 py-0.5 leading-snug;
}